<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719252292849-qohh820gpikmbmshp7hqht5nru92jvrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719252292849-qohh820gpikmbmshp7hqht5nru92jvrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>719252292849-qq8ov9u689srmuhbj1u58dhebk3bbrko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACnE_3pTdDHIB5GIic4A6sV3RGU5rVt8g</string>
	<key>GCM_SENDER_ID</key>
	<string>719252292849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlinesportsFlutter</string>
	<key>PROJECT_ID</key>
	<string>appmobile-418bc</string>
	<key>STORAGE_BUCKET</key>
	<string>appmobile-418bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719252292849:ios:7e8212f2553bb55df61550</string>
	<key>DATABASE_URL</key>
	<string>https://appmobile-418bc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>